<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard3_iframe.css') }}">
    <title>MLN-Dashboard</title>
</head>

<body>

    <!--  <div style="height:160px; display:flex; justify-content:space-between; width:100%;">
      <div style="margin-top:20px; display:flex; justify-content:flex-start; margin-left:20px;">
        <img src="{{ url_for('static', filename='images/mln-dive-logo-1.png') }}" style="height:80px;"alt="">
         <h1 style="color:#FC6A03; margin-top:10px;margin-left:10px;">MLN-DIVE <br>(where MLN Researchers, Developers, and End Users Interact, Share, and Learn)</h1>

      </div>
      <div style="margin-top:20px; display:flex; justify-content:flex-end; margin-right:20px;">
       <img src="{{ url_for('static', filename='images/nsf-logo.png') }}" style="height:80px; width:80px; margin-right:10px;"alt="">
       <img src="{{ url_for('static', filename='images/itlab-logo.png') }}" style="height:80px; width:80px; margin-right:10px;"alt="">
       <img src="{{ url_for('static', filename='images/uta-logo.png') }}" style="height:80px; width:100px; margin-right:10px;"alt="">
       <img src="{{ url_for('static', filename='images/unt-logo.png') }}" style="height:80px; width:100px;margin-right:10px;"alt="">
       <img src="{{ url_for('static', filename='images/psu-logo.png') }}" style="height:80px; width:120px;margin-right:10px;"alt="">
      </div>
    </div> -->

    <div id="global-navigation">
        <a href="https://itlab.uta.edu/MLN-DIVE/">
            <img src="{{ url_for('static', filename='images/mln-dive-logo-1.png') }}" id="mln-dive-logo"alt="MLN-DIVE logo">

        </a>
        <a href="https://docs.google.com/document/d/14oDv7airC1fErZOPsKA0Id0TgWkzZBiF/edit?usp=sharing&ouid=110108259527234427333&rtpof=true&sd=true"
            title="Dashboard Tutorial" target="_blank" class="filelink"
            style="padding-top:2px; text-decoration:None; color:black; display:inline-block; font-size:20px;text-align:right;padding-right:2px;margin-right:10px;">
            <img style="width:40px;height:40px;" src="{{url_for('static',filename='images/help_icon.png')}}">
        </a>
        <a href="https://forms.gle/2oK3ejK4v5XGtaoc7" title="Dashboard Feedback" target="_blank" class="filelink"
            style="padding-top:2px; text-decoration:None; color:black; display:inline-block; font-size:20px;text-align:right;padding-right:2px;float:right;">
            <img style="width:40px;height:40px;" src="{{url_for('static',filename='images/feedback.png')}}">
        </a>
        <span id="site-title">
            <h2><b>MLN-Dashboard</b></h2>
            <h2 style="font-size:12pt;"> (where MLN Researchers, Developers, and End Users Interact, Share, and Learn)
            </h2>
        </span>
        <div>
            <a title="NSF Home" href="https://www.nsf.gov/index.jsp" target="_blank">
                <img src="{{ url_for('static', filename='images/nsf-logo.png') }}" id="nsf-logo"
                    alt="National Science Foundation logo">
            </a>
            <a title="ITLab Home" href="https://itlab.uta.edu/" target="_blank">
                <img src="{{ url_for('static', filename='images/itlab-logo.png') }}" id="itlab-logo" alt="ITLab logo">
            </a>
            <a title="UTA Home" href="https://www.uta.edu/" target="_blank">
                <img src="{{ url_for('static', filename='images/uta-logo.png') }}" id="uta-logo"
                    alt="The University of Texas at Arlington logo">
            </a>
            <a title="UNT Home" href="https://www.unt.edu/" target="_blank">
                <img src="{{ url_for('static', filename='images/unt-logo.png') }}" id="unt-logo"
                    alt="The University of North Texas logo">
            </a>
            <a title="PSU Home" href="https://www.psu.edu/" target="_blank">
                <img src="{{ url_for('static', filename='images/psu-logo.png') }}" id="psu-logo"
                    alt="Penn State University logo">
            </a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
    <div class="flash-error">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div id="loading" style="display: none;">
        <img src="{{ url_for('static', filename='images/loading.gif') }}" style="width:50px; height:50px;">
        Working on it, please be patient. <strong>Do not refresh.</strong>
    </div>

    <div class="grid-container">
        <div class="leftContainer">
              
            <div class="file_direc">
            <p id="locald" style="margin-top:5px; margin-bottom:0px; margin-left:1px;">User: {{us | safe}}</p>
            <p style="margin-top:2px; margin-left:1px;">Current Path: {{showpath}}</p>
            <form action="{{BASE_URL}}/newfolder?sid={{sid}}" method="POST">
                <input type="text" name="fdname" class="input" required="required" placeholder="Enter New Folder Name"
                    style="width:225px; margin-left:40px" />
                <button>Create</button>
            </form>
            {% if current_working_directory!=mp%}
            <strong><a href="{{BASE_URL}}/back?sid={{sid}}"
                    style="text-decoration:None; color:inherit; font-size: larger;">&emsp;&emsp;&larr;</a></strong>
            {% endif %}
            <ul style="list-style: none;">
                {% for item in file_list %}
                {% if item=='tmp' or item=='system' or item=='primary_key_converter_for_inputfiles' or
                item=='visualization' or item=='log-files'%}

                {% elif '.' not in item %}
                <li><a class="filelink" href="{{BASE_URL}}/cd?folder={{item}}&user={{us}}&sid={{sid}}"
                        style="text-decoration:none; color:black;">&#43; {{item}}</a>
                </li>
                {% elif '.txt' in item or '.ecom' in item or '.vcom' in item or '.gen' in item or '.ana' in item or
                '.py' in item or '.csv' in item or '.net' in item or '.ilf' in item %}
                {% if filen in item %}
                <li><a class="filelink" href="{{BASE_URL}}/view?file={{item}}&user={{us}}&sid={{sid}}&page=1"
                        style="text-decoration: none; color:white;background-color:#4c8bf5;"> {{item}}</a>
                    {% else %}
                <li><a class="filelink" href="{{BASE_URL}}/view?file={{item}}&user={{us}}&sid={{sid}}&page=1"
                        style="text-decoration: none; color:black;"> {{item}}</a>
                </li>
                {% endif %}
                {% else %}
                <li>{{item}}
                </li>
                {% endif %}
                {% endfor %}

            </ul>
            <!--  <p style="margin-left:40px; width:220px; background-color:white;">Browse to Upload a new File:</p>
         <form style="padding-left:40px; margin-top:0px;" method="POST" enctype = "multipart/form-data">
            {{form.hidden_tag()}}
            {{form.file()}}
            {{form.submit()}}
        </form> -->
</div>


<div class="info_div">
             <h4>Info Panel</h4>
             {% if('data_files' in showpath)%}
                <ol>
                <li>*<strong>.csv</strong> files: Data set in the comma-separated file format.</li>
<li>*<strong>.gen</strong> files: Configuration file for generating layers (graphs) from a data set using similarity metrics and thresholds.</li>
<li>*<strong>.ana</strong> files: Configuration file to analyze the generated layers. Currently, 6 community detection algorithms are supported.</li>
                </ol>
             {% elif('layers_generated' in showpath) %}
                <ol>
                <li>Contains the .net files for the layers that are generated using the configuration files present in the data-files directory.</li>
             </ol>
             {% elif('analysis_results' in showpath)%}
                 <ol>
                     <li>Contains the analysis results generated using the configuration files present in the data-files directory.</li>
        <li>.vcom files: Generated communities with vertices.</li>
        <li>.ecom files: Generated communities with vertices and edges.</li>
                  </ol>
             {% elif(current_working_directory==mp)%}
                  Pre-loaded Applications
             {% else %}
                 <ol>
                    <li>data-files: Stores data sets, and layer generation and analysis configuration files.</li>
                    <li>layers-generated: Stores the layers generated using the configuration files.</li>
                    <li>analysis-results: Stores the analysis results based on the configuration files</li>
                 </ol>
              {%endif%}
         </div>
        </div>
        <div class="rightContainer">
            <div class="upperButtons">
                <div class="allButtons">
                    {% if(filen)%}
                    <button style="background-color: #4c8bf5; color:white;">
                        Display Files
                    </button>
                    {% else %}
                    <button disabled>
                        Display File
                    </button>
                    {% endif %}
                    {% if(".gen" in filen)%}
                    <a href="{{BASE_URL}}/generate_layer?file={{filen}}&user={{us}}&sid={{sid}}"
                        style="background-color:#4c8bf5; color:white; padding: 14px 25px; border-radius: 5px; text-align: center; text-decoration: none; padding-top: 25px; display: inline-block; font-size:17px; font-family:'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;">Generate
                        Layers</a>

                    {% else %}
                    <button disabled>
                        Generate Layers
                    </button>
                    {% endif %}
                    {% if(".ana" in filen)%}
                    <a href="{{BASE_URL}}/analyze_layer?file={{filen}}&user={{us}}&sid={{sid}}"
                        title="Analyze Layers for the given file."
                        style="background-color:#4c8bf5; color:white; padding: 14px 25px; border-radius: 5px; text-align: center; text-decoration: none; padding-top: 25px; display: inline-block; font-size:17px; font-family:'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;">Analyze
                        Layers</a>
                    {% else %}
                    <button disabled>
                        Analyze Layers
                    </button>
                    {% endif %}
                    {% if(".net" in filen or ".viz" in filen or '.ecom' in filen or '.vcom' in filen)%}
                    <!-- <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}"
                     style="background-color:#4c8bf5; color:white; padding: 14px 25px; border-radius: 5px; text-align: center; text-decoration: none; padding-top: 35px; display: inline-block; font-size:20px; font-family:'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;">Visualize Network</a> -->
                    <div class="dropdown">
                        <button class="dropbtn">Visualize</button>
                        <div class="dropdown-content">
                            {% if("American.net" in filen or "Spirit.net" in filen or "Allegiant.net" in filen or
                            "Frontier.net" in filen or "Southwest.net" in filen or "Delta.net" in filen) %}
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=nv" class="no-loading" target="_blank">Network
                                Visualization</a>
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=iv" class="no-loading" target="_blank">Interactive
                                Visualization</a>
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=bv" class="no-loading" target="_blank">Bokeh
                                Visualization</a>
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=mv" class="no-loading" target="_blank">Map
                                Visualization</a>
                            {% elif(".net" in filen or ".viz" in filen)%}
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=nv" class="no-loading" target="_blank">Network
                                Visualization</a>
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=iv" class="no-loading" target="_blank">Interactive
                                Visualization</a>
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=bv" class="no-loading" target="_blank">Bokeh
                                Visualization</a>
                            {% elif(".ecom" in filen) %}
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=wc" class="no-loading" target="_blank">WordCloud
                                Visualization</a>
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=cn" class="no-loading" target="_blank">Community
                                Network</a>
                            {% else %}
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=wc" class="no-loading" target="_blank">WordCloud
                                Visualization</a>
                            <a href="{{BASE_URL}}/visualize_layer?file={{filen}}&user={{us}}&sid={{sid}}&vtype=bcv" class="no-loading" target="_blank">BubbleChart
                                Network</a>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <button disabled>
                        Visualize Networks
                    </button>
                    {% endif %}

                    <a class="button" href="{{BASE_URL}}/logout?sid={{sid}}"
                        style="background-color:#4c8bf5; color:white; padding: 14px 25px; padding-bottom:15px; border-radius: 5px; text-align: center; text-decoration: none; padding-top: 20px; display: inline-block; font-size:18px; font-family:'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;">Logout</a>
                    <a class="button" href="{{BASE_URL}}/profilepage?sid={{sid}}"
                        style="background-color:#4c8bf5; color:white; padding: 14px 25px; padding-bottom:15px;border-radius: 5px; text-align: center; text-decoration: none; padding-top: 20px; display: inline-block; font-size:18px; font-family:'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;">Profile</a>
                </div>
                <!-- <div class="logout">
                <a class="button" href="{{BASE_URL}}/logout?sid={{sid}}" style="background-color: #4c8bf5; color:white;">Logout</a>
                <button style="background-color: #4c8bf5; color:white;">
                    Account
                </button>
                <a class="button" href="{{BASE_URL}}/logout?sid={{sid}}" style="background-color: #4c8bf5; color:white;">Logout</a>
                <a class="button" href="{{BASE_URL}}/profilepage?sid={{sid}}" style="background-color: #4c8bf5; color:white;">Profile</a>
            </div> -->
            </div>
            <div class="contentArea">
                <h1>Visualize</h1>

                <iframe style="width:100%;height:100%" srcdoc="{{gp}}"></iframe>


            </div>
            <div class="logArea">
                <h3>File Info</h3>
                <p style="overflow:auto;">{{log | safe}}</p>

            </div>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
    var links = document.querySelectorAll('a');
    links.forEach(function(link) {
        link.addEventListener('click', function() {
            if(!this.classList.contains('no-loading') and !this.classList.contains('filelink')) {
                console.log("inside")
                document.getElementById('loading').style.display = 'block';
            }
        });
    });
});


</script>
</body>

</html>
